.welcome-title{
    margin: 0 0 5px 0;
}

.cabinet-login{
    margin: 10px 0 0 0;
}

.cabinet-passwod{
    margin: 0 0 20px 0;
}

.cabinet-log-out{
    text-decoration: none;
    color: #000;
}

.cabinet-log-out:hover{
    background-color: #f09393;
    border: 1px solid #eb6565;
}

.cabinet-admin__title{
    font-weight: 600;
    margin: 0 0 4px 0;
}

.cabinet-admin-vis{
    max-width: 250px;
    padding: 20px;
    margin: 0 0 40px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-list li{
    list-style: none;
}