.slider{
    width: 556px;
    height: 300px;
    overflow: hidden;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 30px;
    height: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
    border-radius: 2px;
    transition: all 0.4s ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.2);
}

.slides input{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slides img{
    width: 100%;
    height: 100%;
}

.slide{
    width: 25%;
    transition: all 0.6s ease;
}

#r1:checked ~ .sl1{
    margin-left: 0;
}

#r2:checked ~ .sl1{
    margin-left: -25%;
}